:root {
    --c1: #2f2f2f;
    --c2: #fff;
    --c3: #82cbac;
    --c4: #556697;
    --c5: #ff7f96;
    --c6: #8999CD;
    --c7: #E7EFFF;
    --c8: #434656;

    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-20: 20px;
    --fz-22: 22px;
    --fz-24: 24px;
    --fz-26: 26px;
    --fz-36: 36px;

    --fz-1r: 1rem;
    --fz-1-5r: 1.5rem;
    --fz-2r: 2rem;
    --fz-2-5r: 2.5rem;
    --fz-3r: 3rem;
    --fz-3-5r: 3.5rem;
    --fz-4r: 4rem;

    --bdrs-1: 10px;
    --bdrs-2: 20px;

    --pd-1: 0 1.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    color: var(--c1);
    background: var(--c2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--c1);
}

html {
    scroll-behavior: smooth;
}

/* *fontweight (fw) */
.fw-1 {
    font-weight: var(--fw-100);
}

.fw-2 {
    font-weight: var(--fw-200);
}

.fw-3 {
    font-weight: var(--fw-300);
}

.fw-4 {
    font-weight: var(--fw-400);
}

.fw-5 {
    font-weight: var(--fw-500);
}

.fw-6 {
    font-weight: var(--fw-600);
}

.fw-7 {
    font-weight: var(--fw-700);
}

.fw-8 {
    font-weight: var(--fw-800);
}

.fw-9 {
    font-weight: var(--fw-900);
}

/* *fontsize (fz) */
.fz-12 {
    font-size: var(--fz-12);
}

.fz-14 {
    font-size: var(--fz-14);
}

.fz-16 {
    font-size: var(--fz-16);
}

.fz-18 {
    font-size: var(--fz-16);
}

.fz-20 {
    font-size: var(--fz-20);
}

.fz-22 {
    font-size: var(--fz-22);
}

.fz-24 {
    font-size: var(--fz-24);
}

.fz-36 {
    font-size: var(--fz-36);
}

/* *fz rems */

.fz-1r {
    font-size: var(--fz-1r);
}

.fz-1-5r {
    font-size: var(--fz-1-5r);
}

.fz-2r {
    font-size: var(--fz-2r);
}

.fz-2-5r {
    font-size: var(--fz-2-5r);
}

.fz-3r {
    font-size: var(--fz-3r);
}

.fz-3-5r {
    font-size: var(--fz-3-5r);
}

.fz-4r {
    font-size: var(--fz-4r);
}

/* *border-radiues (bdrs) */
.bdrs-1 {
    border-radius: var(--bdrs-1);
}

.bdrs-2 {
    border-radius: var(--bdrs-2);
}

/* *colors (c1-c2, etc.. */
.c1 {
    color: var(--cl);
}

.c2 {
    color: var(--c2);
}

.c3 {
    color: var(--c3);
}

.c4 {
    color: var(--c4);
}

.c5 {
    color: var(--c5);
}

.c6 {
    color: var(--c6);
}

.c7 {
    color: var(--c7);
}

/* *background (bg) */
.bg-1 {
    background-color: var(--c1);
}

.bg-2 {
    border-color: var(--c3);
}

.bg-3 {
    background-color: var(--c4);
}

.bg-4 {
    background-color: var(--c5);
}

.bg-5 {
    background-color: var(--c6);
}

.bg-6 {
    background-color: var(--c7);
}

.bg-7 {
    background-color: var(--c8);
}

/* *cards, box */
.box-card-1 {
    padding: 20px;
    background: var(--c2);
    box-shadow: 0 -4px 19px 12px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

/* *paddings, margins */
.pd-1 {
    padding: var(--pd-1);
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

/* *containers, auto */
.l-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--pd-1);
}

/* *typography */
.first-header {
    font-weight: var(--fw-800);
    font-size: var(--fz-2r);
}

.small-header{
    font-size: var(--fz-12);
    color: var(--c4);
}

.second-header {
    font-size: var(--fz-24);
    font-weight: var(--fw-700);
}

.first-paragraph {
    font-size: var(--fz-20);
    letter-spacing: -0.48px;
    font-weight: var(--fw-300);
}

.second-paragraph {
    font-weight: var(--fw-500);
    font-size: var(--fz-20);
    letter-spacing: -0.48px;
}

/* *text-transformation */
.tt-1 {
    text-transform: uppercase;
}

.tt-2 {
    text-transform: lowercase;
}

/* *testing, mh-100vh */
.testing {
    min-height: 100vh ;
}